<h1 class='jumbotron'>Admin Dashboard</h1>

<div class='box'>
<div class='box jumbotron col-md-6'>
<h2> Total Products: <%= @product.count %></h2>
</div>

<div class='box jumbotron col-md-6'>
<h2> Total Categories: <%= @category.count %> </h2>
</div>
</div>

<div class="center">
<a href="/admin/products"><button type="button" class="btn btn-info" >Product view</button></a>
</div>