<div class='jumbotron welcome-title'>
  <h1>Welcome to Jungle!</h1>
</div>

<div class='about-content'>
<img href='https://www.logo.wine/a/logo/Ruby_on_Rails/Ruby_on_Rails-Logo.wine.svg' alt='rails logo' />
<div class='main-content'>
  <h3>
  Jungle is an online store built with Ruby, Rails, ERB, and Active Record. It has everything you could possibly need as a functioning adult.
  </h3>
</div>

</div>