<div class='jumbotron welcome-title'>
  <img src='https://1000logos.net/wp-content/uploads/2020/08/Ruby-on-Rails-Logo-500x313.png' alt='rails logo' />
  <h1>Welcome to Jungle!</h1>
</div>

<div class='about-content'>
<div class='main-content'>
  <h3>
  Jungle is an online store built with Ruby, Rails, ERB, and Active Record. It has everything you could possibly need as a functioning adult.
  </h3>
</div>

</div>