.welcome-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	img {
		width: 50%;
		margin: -6rem 0rem -6rem 0rem;
	}
}

.about-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.main-content {
		width: 50%;
		text-align: center;
	}
}

.nav-user {
	margin-top: 1.5rem;
}
